
#game {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

#title {
    text-align: center;
    width: 100%;
    font-size: 200%
}

a {
  border-radius: 10%;
  background-color: #cce6ff;
  border: 2px solid #f27d2f;
  color: #f27d2f;
  text-decoration: none;
}

a:hover{
  background-color: #e6f2ff;
  border: 2px solid #f27d2f;
  color: #80bfff;
}

a:active {
  background-color: #99ccff;
  border: 2px solid #f27d2f;
  color: #f27d2f;
}
#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
/*     justify-content: space-evenly; */
    grid-gap: .75%;
  }

.squares {
    background-color: brown;
    width: 90%;
    height: 90%;
    border-radius: 45%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}  
