#game {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  
  #title {
  /*     top: 40px; */
      text-align: center;
      width: 100%;
      font-size: 200% 
      /* ^^could be future problem */
  }
  
  #container {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr; 
      justify-content: space-evenly;
      grid-gap: .75%;
    }
  
  .squares {
      background-color: brown;
      width: 1fr;
      height: 200px;
      border-radius: 10%;
  }  
  